<a href="https://colab.research.google.com/github/tubakhanum/project1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

### Q1Take input first name and last name from user store in two variables and then concatenate both variables and print full name

In [ ]:
a="tuba"
b="khan"
c=a+b
print(c)

tubakhan

### Q2 Write a Python program to take input from user as a string then print first 2 and the last 2 chars from a given a string.

In [ ]:
c="tubakhan"
print(c[-1-2])

h

### Q3 Write a Python program to remove the “h” character from the “TechShoor”.

In [ ]:
a="Techshoor"
print(a[3])

h

### Q4 Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).Sample Words: car, bike, truck, cycle, skateboard, civic

In [16]:
items = ("car, bike, truck, cycle, skateboard, civic")
print(items.isalnum())

False

### Q5 Write a Python Program take sample string: “I am a bad person” to replace with “I am a good person”. Hint (Use replace function)

In [ ]:
a="i am a bad person"
b="i am a good person"
str.replace(b,a,c)

'i am a good person'

### Q6 Write a Python program to reverse any string.

In [ ]:
inputStr="tubakhan"
print(inputStr[-1::-1])

nahkabut

### Q7 Write a Python program which accepts the radius of a circle from the user and compute the area

### Q8 Write a Python Program to count how many times ‘o’ in “Gooooooooooooooooogle”

In [1]:
message ="Gooooooooooooooogle"
print('Number of occurrence of o:', message.count('o'))

Number of occurrence of o: 15

### Q9 Create a Python Program to slice this string “I like to eat banana” and print only “ike to eat”

In [10]:
f="iliketoeatbanana"
print(f[2:-6])

iketoeat

### Q10 Write a Python program to print the following string in a specific format. (see Output)

Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star,How I wonder what you are"

Output :

Twinkle, twinkle, little star,
  How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
  How I wonder what you are
  
The above output is required in print form

In [ ]:
i="tiwinkle, twinkle, little star how i wonder what you are! up above the world so high,like a diamond in the sky."
print(i)

tiwinkle, twinkle, little star how i wonder what you are! up above the world so high,like a diamond in the sky.